/* REFACTOR: new naming in ScrollContainer, HorizontalScrollContainer doing inline-block */


.HScroller .Scroller {
	position:absolute;
	height:100%;
	left:0px; right:0px;
	overflow:hidden;
	z-index:1;
}
