<?xml version="1.0" encoding="utf-8"?>
<response>
	<result>OK</result>
	<data>
		<memcacheConfig time='2009-04-29 00:41:22' v='2'>
			<!-- special config that we're testing the UI with static test files -->
			<config>
				<name>testing</name>
				<value>UI</value>
			</config>
			<config>
				<name>role</name>
				<value>super</value>
			</config>
			<config>
				<name>mode</name>
				<value>cloud</value>
			</config>
			<config>
				<name>authorization</name>
				<value>enabled</value>
			</config>
			<config>
				<name>appname</name>
				<value>Gear6 Memcached</value>
			</config>
			<config>
				<name>serviceProvider</name>
				<value>Amazon EC2</value>
			</config>
			<config>
				<name>version</name>
				<value>2.3.7</value>
			</config>
			<config>
				<name>reporter</name>
				<value>on</value>
			</config>
			<config>
				<name>timezoneOffset</name>
				<value>0</value>
			</config>
			<config>
				<name>timezoneName</name>
				<value>GMT</value>
			</config>
			<config>
				<name>maxDataSamples</name>
				<value>500</value>
			</config>
			<config>
				<name>storageEnabled</name>
				<value>true</value>
			</config>
			<config>
				<name>Service Type</name>
				<value>Amazon Web Services</value>
				<show>true</show>
			</config>
			<config>
				<name>AWS Location</name>
				<value>London, England</value>
				<show>true</show>
			</config>
			<config>
				<name>Connect/Read/Write timeout</name>
				<value>10/10/10 seconds</value>
				<show>true</show>
			</config>
			<config>
				<name>supportUrls</name>
				<value>{Support : 'http://www.gear6.com/cloud-support-reg'}</value>
			</config>
			<service>
				<name>www</name>
				<package>memcached-gear6</package>
				<memsize>60000</memsize>
				<enabled>true</enabled>
				<status>enabled</status>
				<tcpPort>11211</tcpPort>
				<udpPort>11211</udpPort>
				<startDate>2009-12-01T01:23:45</startDate>
				<instance>
					<identifier>lb-berry-4</identifier>
					<arch>x86_64</arch>
					<imageId>emi-91491395</imageId>
					<vendorType>m1.large</vendorType>
					<ip>10.3.6.236</ip>
					<publicIp>1.1.1.1</publicIp>
					<port>11211</port>
					<reporter>modify</reporter>
					<reporterEnabled>true</reporterEnabled>
					<memory>800000000</memory>
					<used>300000000</used>
					<free>500000000</free>
					<status>running</status>
					<memcacheState>active</memcacheState>
					<rehashState>enabled</rehashState>
					<rehashPercent>50</rehashPercent>
					<config>
						<name>data_center</name>
						<value>Amazon DC, London, England</value>
					</config>
					<config>
						<name>zone</name>
						<value>Availability Zone 3</value>
					</config>
				</instance>
				<instance>
					<ip>10.3.6.237</ip>
					<publicIp>10.3.6.237</publicIp>
					<identifier>lb-berry-4</identifier>
					<arch>x86_64</arch>
					<imageId>emi-91491395</imageId>
					<vendorType>m1.large</vendorType>
					<port>11211</port>
					<reporter>modify</reporter>
					<reporterEnabled>true</reporterEnabled>
					<memory>800000000</memory>
					<used>100000000</used>
					<free>700000000</free>
					<status>error</status>
					<memcacheState>active</memcacheState>
					<rehashState>disabled</rehashState>
					<config>
						<name>data_center</name>
						<value>Amazon DC, London, England</value>
					</config>
					<config>
						<name>zone</name>
						<value>Availability Zone 3</value>
					</config>
				</instance>
				<instance>
					<ip>10.3.6.238</ip>
					<publicIp>1.1.1.2</publicIp>
					<identifier>lb-berry-4</identifier>
					<arch>x86_64</arch>
					<imageId>emi-91491395</imageId>
					<vendorType>m1.large</vendorType>
					<port>11211</port>
					<reporter>modify</reporter>
					<reporterEnabled>false</reporterEnabled>
					<memory>800000000</memory>
					<used>600000000</used>
					<free>200000000</free>
					<status>shutting-down</status>
					<memcacheState>active</memcacheState>
				</instance>
			</service>
			<service>
				<name>php</name>
				<package>memcached-gear6</package>
				<memsize>60000</memsize>
				<status>disabled</status>
				<tcpPort>11211</tcpPort>
				<udpPort>11211</udpPort>
				<startDate>2009-12-01T01:23:45</startDate>
				<instance>
					<ip>10.3.6.239</ip>
					<identifier>lb-berry-4</identifier>
					<arch>x86_64</arch>
					<imageId>emi-91491395</imageId>
					<vendorType>m1.large</vendorType>
					<port>11211</port>
					<reporter>view</reporter>
					<reporterEnabled>false</reporterEnabled>
					<status>active</status>
					<memcacheState>active</memcacheState>
					<memory>800000000</memory>
					<used>600000000</used>
					<free>200000000</free>
				</instance>
				<instance>
					<ip>10.3.6.240</ip>
					<identifier>lb-berry-4</identifier>
					<arch>x86_64</arch>
					<imageId>emi-91491395</imageId>
					<vendorType>m1.large</vendorType>
					<port>11211</port>
					<reporter>view</reporter>
					<reporterEnabled>true</reporterEnabled>
					<status>joining</status>
					<memcacheState>active</memcacheState>
					<memory>800000000</memory>
					<used>600000000</used>
					<free>200000000</free>
				</instance>
			</service>
			<service><!-- unnamed service -->
				<instance>
					<identifier>I-123456789</identifier>
					<arch>i386</arch>
					<imageId>emi-91491395</imageId>
					<vendorType>m1.small</vendorType>
					<ip>10.3.6.244</ip>
					<port>11211</port>
					<status>active</status>
					<memcacheState>active</memcacheState>
				</instance>
			</service>
			<service>
				<name>non-gear6-package</name>
				<package>memcached-1.2.5</package>
				<memsize>60000</memsize>
				<status>enabled</status>
				<tcpPort>11211</tcpPort>
				<udpPort>11211</udpPort>
				<startDate>2009-12-01T01:23:45</startDate>
				<instance>
					<ip>10.3.6.242</ip>
					<identifier>lb-berry-4</identifier>
					<arch>x86_64</arch>
					<imageId>emi-91491395</imageId>
					<vendorType>m1.large</vendorType>
					<port>11211</port>
					<reporter>off</reporter>
					<status>active</status>
					<memcacheState>active</memcacheState>
				</instance>
				<instance>
					<ip>10.3.6.243</ip>
					<identifier>lb-berry-4</identifier>
					<arch>x86_64</arch>
					<imageId>emi-91491395</imageId>
					<vendorType>m1.large</vendorType>
					<port>11211</port>
					<reporter>off</reporter>
					<status>active</status>
					<memcacheState>active</memcacheState>
				</instance>
			</service>
		</memcacheConfig>
	</data>
</response>
